{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job Description List</title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap-3.3.5/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap-3.3.5/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/datatables/jquery.dataTables.min.css' %}">
    
    <!-- JS -->
    <script src="{% static 'libs/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap-3.3.5/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'libs/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/descriptionTable.js' %}"></script>
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CViA</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        <div class="row">
            <table id="description_list">
            </table>
        </div>
    </div>
</body>
</html>
